# URL base de la API backend (NexusPC Backend)
# En desarrollo local: http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000

# URL canónica pública del Frontend (usada para metadatos OpenGraph, SEO y Sitemaps)
# En desarrollo local: http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Cuenta compradora de prueba de Mercado Pago (Sandbox / Tienda Demo)
# Estas credenciales se muestran en el aviso de checkout para facilitar las pruebas
NEXT_PUBLIC_MP_TEST_USER_EMAIL=TESTUSER9137987327694958465
NEXT_PUBLIC_MP_TEST_USER_PASSWORD=mlh6QS2u1c
NEXT_PUBLIC_MP_TEST_USER_CODE=962818
